/* div {
    /* margin-left: 20%; */
/* margin-right: auto; */
/* border: right 30% ;
} */
h3 {
    text-align: center;
}

.mid {
    margin-left: 20%;
    margin-right: 20%;
}

.head {
    border: 3px black;
}

table,
ul {
    margin-left: auto;
    /* padding-left: 25%;
    padding-right: 25%; */
    margin-right: auto;
}

body {
    background: linear-gradient(to bottom,
            #D7E9B9 30%,
            #F2921D 30%,
            #FFD495 60%,
            #FAAB78 100%);
}

hr {
    width: 70%;
    border-top: 3px dotted rgb(245, 89, 89);
    border-bottom: 0ch;
}

h1:hover,
h3:hover {
    color: goldenrod;
}